@page "/Weathertable"
@inject HttpClient Http
@using WeatherForecast.Models

<PageTitle>Weather forecast 7 days</PageTitle>

<h1>Weather forecast Oslo 7 days</h1>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Time zone @forecasts.timezone</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Rain</th>
                <th>Windspeed</th>
                <th>Wind Direction</th>
                <th>Temperature</th>
                <th>Weather Description</th>
            </tr>
        </thead>
        <tbody>

            @for (var i = 0; i < forecasts.hourly.time.Count(); i++)
            {
                <tr>
                    <td>@forecasts.hourly.time[i]</td>

                    <td>@forecasts.hourly.rain[i] mm</td>

                    <td>@forecasts.hourly.windspeed_10m[i] m/s</td>
                    
                    <td><WindArrow WindDirection="@forecasts.hourly.winddirection_10m[i]" /></td>


                    <td>@forecasts.hourly.temperature_2m[i] C°</td>
                 
                    <td>
                        @WeatherCodes.GetWeatherDescription(forecasts.hourly.weathercode[i])
                    </td>

                </tr>
            }

        </tbody>
    </table>
}

@code {
    private WeatherForecastHourly? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecastHourly>("?latitude=59.9138&longitude=10.7387&hourly=temperature_2m,relativehumidity_2m,rain,windspeed_10m,winddirection_10m,weathercode&current_weather=true&timezone=Europe%2FBerlin");
    }
}
