@page "/weathernow"
@inject HttpClient Http


<PageTitle>Weather forecast</PageTitle>

<h1>Weather in Oslo now</h1>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    

    
    var bilde = WeatherCodes.GetWeatherImage(forecasts.current_weather.weathercode);

    if (bilde != "")
    {
        <img src="/Images/svg/@bilde" />
    }
    <hr />
    <p>Weather Description</p>
    <p>@WeatherCodes.GetWeatherDescription(forecasts.current_weather.weathercode)</p>
    <hr />
    <p>Wind Direction</p>
    @*<p>@forecasts.current_weather.winddirection</p>*@
    <WindArrow WindDirection="@forecasts.current_weather.winddirection" />
    <hr />
    <p>Wind speed</p>
    <p>@forecasts.current_weather.windspeed meter/s</p>
        <hr />
    <p>Temperature</p>
    <p>@forecasts.current_weather.temperature C°</p>
    <hr />
    <p>Time zone</p>
    <p>@forecasts.timezone</p>
    <hr />
    <a href="https://open-meteo.com/">Weather data by Open-Meteo.com</a>
    <br />
    <a href="https://github.com/open-meteo/open-meteo/blob/main/LICENSE">License</a>

}

@code {
    private WeatherForecastHourly? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecastHourly>("?latitude=59.9138&longitude=10.7387&current_weather=true&timezone=Europe%2FBerlin");
    }
}
