@page "/weathernow"
@inject HttpClient Http


<PageTitle>Weather forecast</PageTitle>

<h1>Weather in Oslo now</h1>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <p>Weather Description</p>
    <p>@WeatherCodes.GetWeatherDescription(forecasts.current_weather.weathercode)</p>

    <p>Wind Direction</p>
    <p>@forecasts.current_weather.winddirection</p>
    <WindArrow WindDirection="@forecasts.current_weather.winddirection" />

    <p>Wind speed</p>
    <p>@forecasts.current_weather.windspeed meter/s</p>

    <p>Temperature</p>
    <p>@forecasts.current_weather.temperature C°</p>

    <p>Time</p>
    <p>@forecasts.current_weather.time</p>

    <p>@forecasts.timezone</p>


}

@code {
    private WeatherForecastHourly? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecastHourly>("?latitude=59.9138&longitude=10.7387&current_weather=true&timezone=Europe%2FBerlin");
    }
}
